<a href="https://colab.research.google.com/github/aasturiasg/COMP-593-Repository/blob/main/Lab-4-Advanced-SQL-%26-Files.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lab 4 - Advanced SQL / Writing Files

In this week's lab, we are going to expand our Really Simple Social Network by adding another table that will record connections between people! Because after all, what good is a social network if you can't ... be social?

Afterwards, we will be in a good position to run a report on the data, and then we can sell it to marketers for a massive profit! Isn't it great how few people read the terms of service? `/s`

## Importing our database
Since we are using a new colab notebook, we will need to reimport our database. Check your D2L Submission if you didn't keep a copy, you should be able to redownload it there. Run the below code block and the file upload picker will appear, after uploading your Database file, check that it appears in the `Files` tab of colab.

Remember that you may need to update the listings before it will appear.

In [1]:
from google.colab import files
uploaded = files.upload()

Saving social_network.db to social_network.db

## Creating our relationship table

In the code block below, we will be creating a new table in our database for `relationships` with the following parameters:


1.   A primary key column called `id` with the `INTEGER` datatype that is `NOT NULL`
2.   A foreign key column called `user_id` that links to the `id` column of the `people` table with the `INTEGER` datatype that is `NOT NULL`
3.   Another foreign key column called `friend_id` that also links to the `id` column of the `people` table with the `INTEGER` datatype that is `NOT NULL`
4.   A `date_created` table with the `DATE` datatype that is `NOT NULL`

The Below codeblock will get you started:

In [2]:
import sqlite3

#Retreive the Connection object, rename the file to match your uploaded DB if necessary.
myConnection = sqlite3.connect('social_network.db')

#Once we have a Connection object, we can generate a Cursor object, and use that to run our SQL Queries
myCursor = myConnection.cursor()

#The Primary Key column has been provided for you,
#Replace '#!...' with the remaining column names, datatypes, and foreign key declarations.
#Use the Lecture notes and the previous lab if you are unsure.
createRelationshipsTable = """CREATE TABLE IF NOT EXISTS relationships (
                          id integer PRIMARY KEY NOT NULL,
                          user_id integer NOT NULL,
                          friend_id integer NOT NULL,
                          date_created date NOT NULL,
                          FOREIGN KEY (user_id) REFERENCES people (id),
                          FOREIGN KEY (friend_id) REFERENCES people (id)
                        );"""

#Once again, we will execute the query, persist the changes, and close our connection.
myCursor.execute(createRelationshipsTable)
myConnection.commit()
myConnection.close()

In [3]:
import sqlite3
from pprint import pprint

#Retreive the Connection object, rename the file to match your uploaded DB if necessary.
myConnection = sqlite3.connect('social_network.db')

#Once we have a Connection object, we can generate a Cursor object, and use that to run our SQL Queries
myCursor = myConnection.cursor()

#check that the table was properly created with the intended columns
myCursor.execute("SELECT name from pragma_table_info('relationships')")
pprint(myCursor.fetchall())
myConnection.close()

[('id',), ('user_id',), ('friend_id',), ('date_created',)]

## Populating Relationship Data

We're not going to be picky about who knows who - so for the purposes of this lab, we're going to use our own version of an AI matchmaker, the `randrange()` method.

Complete the below codeblock, inserting 1000 new rows into the relationships table.
Use a random number between `1 - 1000` for the `user_id` and `friend_id` columns. This will link up to the `id` column of the `people` table and effectivly simulate a random network of relationships.

The below code block is purposely sparse, as you should be able to use the patterns you've identified in the previous lab to complete this task.

In [4]:
import sqlite3
from datetime import datetime #For generating dates and times
from random import randrange #For generating random numbers within a range

#Retreive the Connection object, rename the file to match your uploaded DB if necessary.
myConnection = sqlite3.connect('social_network.db')

#Once we have a Connection object, we can generate a Cursor object, and use that to run our SQL Queries
myCursor = myConnection.cursor()

#Complete the below query
query =  """INSERT INTO relationships (user_id, friend_id, date_created)
            VALUES (?, ?, ?);"""

for _ in range(1000):
  #Populate the arguments that will be used in the query

  user = randrange(1, 1001)
  friend = user

  #make sure a user is not their own friend
  while user == friend:
    friend = randrange(1, 1001)

  args = (user, friend, datetime.now())
  #Execute the query
  myCursor.execute(query, args)

#Commit your changes and close the connection.
myConnection.commit()
myConnection.close()

In [5]:
import sqlite3
from pprint import pprint

#Retreive the Connection object, rename the file to match your uploaded DB if necessary.
myConnection = sqlite3.connect('social_network.db')

#Once we have a Connection object, we can generate a Cursor object, and use that to run our SQL Queries
myCursor = myConnection.cursor()

#check that the table was properly created with the intended columns
myCursor.execute("SELECT * from relationships LIMIT 20")
pprint(myCursor.fetchall())
myConnection.close()

[(1, 769, 998, '2022-03-03 21:18:05.773697'),
 (2, 507, 122, '2022-03-03 21:18:05.774108'),
 (3, 619, 362, '2022-03-03 21:18:05.774143'),
 (4, 162, 966, '2022-03-03 21:18:05.774160'),
 (5, 291, 599, '2022-03-03 21:18:05.774173'),
 (6, 784, 288, '2022-03-03 21:18:05.774187'),
 (7, 582, 811, '2022-03-03 21:18:05.774201'),
 (8, 113, 776, '2022-03-03 21:18:05.774216'),
 (9, 652, 65, '2022-03-03 21:18:05.774229'),
 (10, 237, 207, '2022-03-03 21:18:05.774243'),
 (11, 769, 928, '2022-03-03 21:18:05.774257'),
 (12, 288, 247, '2022-03-03 21:18:05.774270'),
 (13, 295, 774, '2022-03-03 21:18:05.774284'),
 (14, 796, 745, '2022-03-03 21:18:05.774298'),
 (15, 981, 374, '2022-03-03 21:18:05.774312'),
 (16, 715, 353, '2022-03-03 21:18:05.774326'),
 (17, 86, 316, '2022-03-03 21:18:05.774341'),
 (18, 108, 837, '2022-03-03 21:18:05.774353'),
 (19, 74, 97, '2022-03-03 21:18:05.774368'),
 (20, 900, 674, '2022-03-03 21:18:05.774382')]

## Building our Report

Now that our AI Matchmaker has generated our network of relationships, a marketing firm is offering us boatloads of cash for information about the amount of friends the users of our social network have.

The request is to return the name of each user, and the total number of relationships they have made.

If this was explained in awkward pseudo code, it might go something like this:
```
SELECT all relationships
JOIN them to the people they belong to
GROUP the results by the person's ID
return the person's name and COUNT of their relationships
```

After you have collected the data, you will need to write it to a `.txt` file. 

**Your submission will include the report `.txt` file, the copy of your updated `social_network.db` file, and a link to the colab notebook.**

Look at the aggregate functions from Week 3 and the Join examples from Week 4. There are a few different ways that you can structure a query to reach the correct answer.

**At a minimum, you will need to use a `LEFT JOIN` statement, a `GROUP BY` statement, and a `COUNT()` aggregate function.**

The below code block will get you started:

In [6]:
import sqlite3
from pprint import pprint

#Retreive the Connection object, rename the file to match your uploaded DB if necessary.
myConnection = sqlite3.connect('social_network.db')

#Once we have a Connection object, we can generate a Cursor object, and use that to run our SQL Queries
myCursor = myConnection.cursor()

#Complete the below query
query =  """SELECT people.name, COUNT(relationships.friend_id) from relationships
            LEFT JOIN people ON relationships.user_id = people.id GROUP BY relationships.user_id"""

myCursor.execute(query)
results = myCursor.fetchall()
#pprint(results)

#Uncomment the below line after you have determined what the correct mode will be for your file pointer.
fp = open('report.txt', mode='w')

for result in results:
  #You will want to write the results to the file pointer here.
  #Use the newline character \n to create a line break in each write() statement.
  fp.write(str(result[0] + " -> " + str(result[1])) + "\n")
  #Use print() statements as sanity checks if you are unsure of the integrity of your data.
  print(str(result[0] + " -> " + str(result[1])))

#Don't forget to close the file pointer after you have finished!
fp.close()

#close connection to database
myConnection.close()

John Doe -> 3
Tonya Young -> 2
Ashley Guerrero -> 1
Kristina Parks -> 7
David Smith -> 2
Barbara Rojas -> 2
Jessica Palmer -> 1
Lisa West -> 1
Selena Graham -> 1
Alvin Williams -> 1
Amanda Dickson -> 2
Lori Price -> 1
Laura Smith -> 2
Russell Gonzales -> 1
Michael Armstrong -> 3
Leslie Mcneil -> 1
Michael Alexander -> 2
Jessica Gould -> 1
Mark Williams -> 3
James Cross -> 1
Misty Jackson -> 2
John Payne -> 1
Robert Anderson -> 1
Crystal Osborne -> 1
Thomas Osborne -> 1
Ashley Vaughn -> 2
Jacqueline Key -> 1
Shawn Kane -> 1
Ronnie Green -> 2
Peter Gilbert -> 2
Stacy Craig -> 2
Tammy Baldwin -> 1
Michael Johnson -> 1
Steven Smith -> 1
Fred Jones -> 2
John Ortega -> 1
Donna Serrano DDS -> 1
Emily Wright DDS -> 1
Jasmine Mcclain -> 1
Jessica Hunter -> 1
William Miller -> 1
Todd Davis -> 2
Leslie Powers -> 3
Judy Gilmore -> 2
Adrienne Roberts -> 3
Mrs. Jacqueline Galvan -> 1
Breanna Chen -> 1
Mr. Matthew Stewart -> 1
Donald Glover -> 2
Dr. Cheryl Knight DDS -> 1
Kimberly Page -> 1
Michele Cline -> 1
Elizabeth Bailey -> 1
Tammy Mahoney -> 2
Wanda Rivera -> 1
Daniel Pena -> 1
George Herrera -> 1
Jennifer Cummings -> 2
Fernando Robles -> 1
Megan Rodriguez -> 1
Scott Cooper -> 4
Sarah Sanchez -> 1
Glenda Wood -> 1
Todd Shaw -> 1
Ms. Jaime Hernandez DVM -> 1
Charles Orr -> 1
Cynthia Camacho -> 1
Andrew Wiley -> 2
Stephanie Buchanan -> 1
Sarah Davis -> 2
Lori Anthony -> 1
Kevin Moreno -> 2
Derrick Delgado -> 1
Joshua Nichols -> 2
Melinda Young -> 1
Samuel Edwards -> 2
Joseph Hull -> 1
Anthony Chen -> 3
Regina Turner -> 1
Steven Swanson -> 1
John Turner -> 2
Erica Boyle -> 3
Kevin Williams -> 1
Timothy Walsh -> 2
James Lara -> 1
Andrea Reilly -> 2
Mark Williams -> 4
Meghan Shaw -> 2
Mary Weaver -> 2
Mikayla Howe -> 1
Stacy Parsons -> 1
Mr. Justin Simpson -> 2
Tony Dominguez -> 3
Jessica Martin -> 2
Linda Watson -> 1
Emily Moore -> 1
Connie Parks -> 2
Christine Ray -> 2
Christine Kemp -> 1
Travis Riggs -> 1
Donald Walton -> 1
Scott Conrad -> 2
Amanda Duncan -> 1
Sara Riley -> 1
Madison Stewart MD -> 3
Anne Parrish -> 1
James Ballard -> 3
Alexandra Herrera -> 2
Rebecca Howard -> 2
Zachary Williams -> 1
Amanda Gardner -> 1
Shane Gonzalez -> 1
Catherine Wiley -> 3
Courtney Adams -> 1
Eric Robinson -> 1
Marcus Carney -> 2
Diana Gonzalez -> 2
Karen Dyer -> 1
Jeremy Alvarado -> 2
Diana Brown -> 1
Jared Chavez -> 1
Michael Parker -> 1
Patrick Thompson -> 1
Diana Mcmillan -> 1
Mark Porter -> 2
Kimberly Ho -> 1
Monique Estrada -> 3
Laura Richard -> 2
Melanie Jones -> 2
Christine Harrison -> 2
Chelsea Henderson -> 1
John Anderson -> 1
Brittany Jenkins -> 2
Steven Boyd -> 2
Matthew Dunn -> 2
Robert Moore -> 2
Antonio Morgan -> 1
Clifford Baker -> 2
Timothy Miller -> 1
Cassandra Brown -> 1
David Thompson -> 2
Phyllis Brooks -> 2
Allison Davenport -> 2
Samantha Love -> 5
Aaron Ford -> 1
Hailey Thompson -> 3
Renee Orr -> 3
Molly Ellis -> 4
Barbara Fitzgerald -> 1
Kimberly Rodriguez -> 2
Stephen White -> 2
Dennis Brown -> 1
David Park -> 2
Sharon Erickson -> 1
Alexis Vargas -> 1
John Wright -> 1
Leslie Diaz -> 1
Eric Smith -> 1
Melissa Phillips -> 3
Kelly Velasquez -> 1
Courtney Taylor -> 1
Crystal Thompson -> 1
Christine Wagner -> 1
Angela Smith -> 1
Victoria Andrade -> 1
Kara Palmer -> 1
David Yang -> 1
Amy Oliver -> 1
Tracy Berry -> 2
Wyatt Mckinney -> 1
Maria Gomez -> 1
Brittney Brock -> 1
Joel Duncan -> 1
Ronald Dillon -> 1
Jerry Morrow -> 1
Jeffrey Miller -> 3
Diana Rose -> 1
Anna Hardy -> 1
Jeffrey Brooks -> 1
Melissa Martin -> 1
Patricia Kemp -> 3
Maria Schmitt -> 2
Denise Miller -> 1
Amanda Smith -> 1
Michelle Craig -> 1
Lisa Baker -> 3
Sharon Blake -> 1
Sharon Kim -> 1
Daniel Brown -> 1
Kimberly Hogan -> 3
Diana Phillips -> 3
Kara Bennett -> 1
David Reid -> 1
Tanya Davis -> 1
Robert Le -> 1
Hannah Smith -> 2
Patrick Richardson -> 2
Cheryl Rodgers -> 2
Carrie Smith -> 3
Cory Steele -> 1
Antonio Miller -> 1
Angela Barry -> 2
Andrew Pena -> 1
Frank Brown -> 1
Mr. Gregory Miller DVM -> 1
Jessica Palmer -> 1
Kathleen Allen -> 2
Janet Mccoy -> 1
Matthew Lee -> 2
Courtney Hogan -> 1
Jessica Torres -> 1
Ryan Combs -> 1
Anthony Kemp -> 2
Jason Duffy -> 1
Erin Golden -> 1
Christopher Stanton -> 4
Joseph Vincent -> 2
Steven Hays -> 1
John Harmon -> 2
Ashley Young -> 1
Margaret Cannon -> 1
Sarah Brown -> 1
Jennifer English -> 2
Michelle Elliott -> 1
Allison Dillon -> 1
Todd Santana -> 3
Thomas Mckee -> 1
Gina Price -> 1
Jonathan Giles -> 2
Jordan Randolph -> 1
Matthew Thomas -> 2
Cindy Smith -> 6
Juan Fischer -> 3
Dennis Mccarthy -> 1
Amanda Nunez -> 1
Diana Brown -> 2
Craig Villarreal -> 3
Susan Brown -> 2
Douglas Gomez -> 1
Sarah Brown -> 1
Natalie Young -> 1
Nicole Brown -> 1
Kevin Martin -> 2
Linda Jones -> 1
Ashley Estrada -> 2
James Reeves -> 1
Lisa Arroyo -> 1
Sandy Rogers -> 3
Phillip Bell -> 2
David Diaz -> 3
Rebecca Warren -> 1
Marisa Craig -> 1
Nathan Armstrong -> 2
Manuel Cunningham -> 1
Tara Wagner -> 1
Brenda Williams -> 2
Henry Robinson -> 1
William Chang -> 1
Nicholas Mccullough -> 1
Sherry Sawyer -> 1
Shaun Hall -> 1
Kurt Vance -> 1
Angela Roach -> 1
Stephanie Hodge -> 3
Shannon Phillips -> 1
Heather Ford -> 1
Jacob Murphy -> 3
Breanna Swanson -> 3
Michele Sharp -> 1
Joy Reeves -> 5
Christine Parker -> 3
Olivia Odonnell -> 1
Robert Walker -> 1
Gilbert Roman -> 1
Abigail Richardson -> 2
Cameron Cannon -> 1
Alexander Lucas -> 1
Kristina Moore -> 2
Tabitha Jacobson -> 1
Mr. Kenneth Underwood Jr. -> 1
David Beasley -> 1
Christopher Carpenter -> 1
Alyssa Cox -> 2
Travis Smith -> 1
Dr. Megan Brennan DVM -> 1
Michelle Nguyen -> 1
Alyssa Ford -> 3
Andrea Huber -> 2
Crystal Hernandez -> 1
John Gomez -> 1
Stephanie Kennedy -> 2
Lindsey Juarez -> 1
Megan Calhoun -> 4
Lisa Parker -> 2
Karen Griffin -> 2
Christian Lyons -> 2
Jeffrey Hernandez -> 1
Amy Miller -> 3
James Smith -> 2
Sara Brooks -> 1
Ryan Sparks -> 1
William Wyatt -> 1
Jeffrey Garcia -> 1
Cheryl Mcbride DVM -> 1
Brenda Mcclain -> 2
Robert Brown -> 1
Kathy Hill -> 2
Tiffany Salas -> 4
Sara Meyers -> 1
Amanda Dixon -> 1
Michelle Khan -> 1
Victor Martinez -> 1
Steven Medina -> 1
Ronald Faulkner -> 2
Anthony Saunders -> 1
Briana Castillo -> 1
Daniel Cox -> 2
Sarah Meyer -> 2
Eric Gonzalez -> 2
Teresa Harris -> 2
Charles Hendricks -> 2
Stephanie Cole -> 3
Diane Perez -> 1
Erik Hernandez -> 2
Luis Ponce -> 1
Nathan Jackson -> 1
Hannah Hall -> 1
Stephen Byrd -> 1
Lauren Brown -> 1
Cassandra Mercer -> 1
Connor Yang -> 1
Carrie Jenkins -> 1
Michael Peterson -> 2
Heather Burns -> 3
Adrian Blackwell -> 1
Debra Macdonald -> 1
Paul Lopez -> 1
Todd Rivera -> 1
Mary Martinez -> 1
James Bennett -> 4
Cynthia Peterson -> 2
Stephanie Thomas -> 1
Carolyn Salas -> 4
Doris Livingston -> 1
Maxwell Miller -> 4
Jonathan Woodward -> 1
Alicia Fuller -> 1
Kenneth Reynolds -> 1
Amanda Anderson -> 2
Mrs. Brandi Bush -> 1
Jaime Duran -> 1
Nathan Eaton -> 3
Shawn Brown -> 1
Lori King -> 1
Jacqueline Odonnell -> 2
Joshua Calderon -> 2
Clayton Harris -> 2
Caroline Moore -> 1
Brandy Lang -> 1
Nathan Reilly -> 1
Kathy Odom -> 2
Casey Jordan -> 2
Brian Todd -> 1
Amy Knapp -> 1
Jill Bailey -> 1
Kaitlyn Brown -> 1
Cindy Powell -> 3
Katrina Smith -> 1
Ronald Aguirre -> 1
Lauren Ford -> 1
Robert Cochran -> 1
Joseph Smith -> 2
Erika Joyce -> 1
Mary Ramos -> 1
Jennifer Avila -> 1
Jessica Richards -> 1
Jennifer Evans -> 2
David Ewing -> 4
Elizabeth Ross -> 1
John Floyd -> 2
Lisa Morris -> 1
Willie Li -> 2
Christopher Ramirez -> 1
Devin Johnson -> 3
Sherry Myers -> 1
Jeremy Fletcher -> 1
Daniel Foster -> 1
Brian Gates -> 1
Derrick Perez -> 2
Rebecca Martin -> 2
Sarah Ross -> 2
Clinton Dyer -> 2
Dawn Parks -> 1
Carla Waller -> 1
Benjamin Harmon -> 2
Emma Bradley -> 3
Jeffrey Dennis -> 1
James Frank -> 2
Andrea Riddle -> 1
Andrew Butler -> 2
James Fitzgerald -> 3
Elaine Kennedy -> 1
Daniel Gonzalez -> 1
Mark Spears -> 1
Jennifer Miller -> 2
James Morgan -> 1
Michael Williams -> 2
Jennifer Orozco -> 2
Jeffrey Roth -> 1
Lisa Flowers -> 1
Matthew Parrish -> 1
Kyle Martin -> 1
Gary Johnson -> 1
Kerry Pearson -> 2
Brian Brooks -> 1
Alexandria Gonzales -> 1
Larry Nelson -> 1
Latoya Mack -> 1
Eric Mathis -> 2
Heather Jones -> 1
Brian Lopez -> 1
Kenneth Ramirez -> 1
Jennifer Perez -> 1
Deborah Gordon -> 1
David Campbell -> 1
Terry Lindsey -> 2
Robert Herrera -> 2
Thomas Cameron -> 1
Jaime Potter -> 1
Mark King -> 1
Teresa Lawrence -> 1
Michael Woods -> 3
Austin Davis -> 3
Megan James -> 1
Anthony Lewis -> 2
Terri Flores -> 1
Debbie Brewer -> 3
Katherine Greene -> 3
Dr. Sara Moore -> 2
Lori Patton -> 2
Bryan Richards -> 1
Dylan Thompson -> 1
Edward Lewis -> 3
Sophia Medina -> 2
Walter Johnson -> 1
Christopher Michael -> 2
Tonya Wagner -> 1
Jeremy Brandt -> 2
Susan Coleman DVM -> 2
Greg Wallace -> 1
Betty Potts -> 3
Jeremiah Warren -> 1
Daniel Gonzalez -> 1
Victoria Morrison -> 1
Oscar Tucker -> 3
Tanya Wilson -> 2
John Yoder -> 1
Gail Soto -> 2
Robert Carpenter MD -> 1
Jonathan Clark -> 1
Brandon Patterson -> 1
Tara Miller -> 1
Vanessa Robinson -> 2
Seth Davis -> 2
Samantha Hughes -> 3
Alex Meyer Jr. -> 2
Antonio Lane -> 1
Bradley Mason -> 1
Crystal Lopez -> 2
Courtney Montgomery -> 2
Natasha Byrd -> 1
James Perez -> 1
Jodi Walker -> 1
Laura Pitts -> 1
Hannah Cole -> 2
Karen Brown -> 1
Stephanie Walsh -> 2
Jasmine Lewis -> 1
Daniel Meyer -> 1
Marilyn Mcintyre -> 2
Jessica Evans -> 2
Cheryl Wilson -> 1
James Mcdonald -> 2
Desiree Mack -> 1
Colleen Miller -> 1
Nicholas Barnes -> 3
Elizabeth Gomez -> 3
Rebecca Sims -> 1
Joshua Miller -> 1
Maurice Webb -> 3
Shawn Martin -> 1
Christopher Cantrell -> 2
Cameron Levy -> 1
Heidi Thomas -> 2
Justin Cook -> 1
Casey Mccormick -> 1
Charles Palmer -> 1
Kyle Mcfarland -> 1
Angela Holmes -> 1
Lisa Mills -> 3
Vanessa Campbell -> 2
John Stephens -> 3
Christina Gonzales -> 1
Ashley Smith -> 2
Jason Jenkins -> 2
Ariel Gonzalez -> 1
Kristina Barber -> 1
Adam Thomas -> 1
Frederick Mitchell -> 2
Richard Martinez -> 1
Christie Ramirez -> 2
Kristopher Mason -> 1
Matthew Gonzalez -> 1
Ann Mccoy -> 3
Matthew Beck -> 1
Christopher Olson -> 1
Maria Barnes -> 1
Kimberly Smith -> 3
Joanne Wells -> 1
Rebekah Carpenter -> 2
Jill Johnson -> 2
Amber Johns -> 1
Brooke Thornton -> 1
Elizabeth Green -> 1
Michele Wong -> 1
Jesus Edwards -> 1
Christine Hill -> 1
Mark Montoya -> 1
Christian Sullivan -> 1
John Rodriguez -> 2
Lynn Reese -> 1
Nicole Randall -> 1
Jessica Sanchez -> 1
Jonathan Rangel -> 1
Mary Ayala -> 2
Don Hill -> 1
Amy Flores -> 2
Veronica Spencer -> 2
Sarah Gordon -> 1
Seth Choi -> 1
Lisa Jones -> 1
Jenna Stuart -> 1
Ashlee Carpenter -> 1
David Boyd -> 3
Stephanie Miller -> 1
Jeffrey Griffith -> 4
Michael Johnson -> 2
James Collins -> 4
Paul Murphy -> 1
Barry Kelly -> 3
Tyler Evans -> 1
Nicole Schneider -> 1
Mr. Stephen Cherry DDS -> 1
Allison Hill -> 3
Rebecca Ho -> 1
Chris Lee -> 1
Audrey West -> 2
Joshua Fisher -> 1
Christopher Jenkins -> 2
Elizabeth Davenport -> 1
Troy Hinton -> 1
Sandra Hicks -> 1
Rachel Ramirez -> 2
Adam Gamble -> 1
Michael Sawyer -> 1
Rebecca Fuller -> 2
Caleb Dean -> 1
Melissa Pollard -> 1
Philip Smith -> 2
William Lutz -> 2
Joshua Perry -> 3
Amy Martin -> 2
Thomas Delgado -> 1
Stephanie Vazquez -> 1
Christopher Morris -> 2
William Mejia -> 4
George Ball -> 3
Andrew Barnes -> 1
Jacqueline Rogers -> 2
Robin Wilson -> 1
David Smith -> 1
Tiffany Leblanc -> 1
Cynthia Lee -> 1
Tiffany Simmons -> 2
Theresa Perry -> 1
Renee Mullen -> 1
Shelby Mcmahon -> 1
Nicole Higgins -> 1
Walter Hendricks -> 1
Wendy Murphy -> 2
Pamela Gaines -> 1
Morgan Robbins -> 1
Susan Robbins -> 1
Peter Norton -> 1
Ralph Lopez -> 2
Kathryn Sanchez -> 1
Jonathan Harris -> 1
Deanna Stephens -> 1
Sara Anderson -> 1
Melissa Patel -> 2
Brianna Massey -> 3
Terri Clark -> 2
Courtney Hernandez -> 2
Calvin Acosta -> 1
Jamie Dennis -> 1
Rhonda Taylor -> 1
Melissa Young -> 3
Matthew Barnes -> 4
Charles Ware -> 1
Eric Sexton -> 2
Curtis Miller -> 2
Julie Bartlett -> 3
Sarah Vega -> 2
Melanie Mitchell -> 1
Peter Hampton -> 3
Katie Robinson -> 1
John Gonzalez -> 2
Tyler Bell -> 2
Shannon Harris -> 1
Timothy Erickson -> 3
Alexander Hudson -> 2
John Brown -> 1
Sarah Brown -> 1
Michelle Delgado -> 1
David Meyer -> 1
Richard Morris -> 1
Beth Taylor -> 1
Clayton Wong -> 2
Tony Maddox -> 2
Brianna Johnson -> 1
Lauren Garcia -> 3
Andrew Wright -> 2
Summer Smith -> 3

### Challenge: Write a CSV file

**This challenge isn't for extra marks, it's an opportunity for you to engage in some self guided discovery, only if you feel like it, and only if you have time.**

If you want to challenge yourself, alter the report so that it conforms with the `.csv` file type. There are a number of ways to do this, you can use the `Pandas` module, the `csv` module, or manually.

In [7]:
import sqlite3
import pandas

#Retreive the Connection object, rename the file to match your uploaded DB if necessary.
myConnection = sqlite3.connect('social_network.db')

#Once we have a Connection object, we can generate a Cursor object, and use that to run our SQL Queries
myCursor = myConnection.cursor()

#Complete the below query
query =  """SELECT people.name, COUNT(relationships.friend_id) from relationships
            LEFT JOIN people ON relationships.user_id = people.id GROUP BY relationships.user_id"""

myCursor.execute(query)
results = myCursor.fetchall()

#convert the tuple to a pandas data frame
results_csv = pandas.DataFrame(results)

#convert the data frame to csv and save it to a file
results_csv.to_csv('report.csv', header=["User", "Relationships"], index=False)

#close connection to database
myConnection.close()